h1{
    color: orchid;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: palegreen;
    padding: 50px;
    border: 5px;
    border-color:  rgb(154, 7, 199) ;
    border-style: dashed;
    border-radius: 20px;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}